.centered {
  display: block;
  text-align: center;
}

.cruise-control {
  text-transform: uppercase;
}

.radical {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ff0000 0%,
    #ffaa00 14%,
    #ffff00 28%,
    #00ff00 42%,
    #0000ff 56%,
    #a200ff 70%,
    #ff00dd 84%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
